<div class="outer-container">

  <section class="left-container">
    <section>
      <section class="left-container-title">
        Address
      </section>
      <section class="left-container-content">
        <section>
          {{plantDetails.address}}
        </section>
        <section>
          {{plantDetails.city}} {{plantDetails.country}}
        </section>
        <section>
          {{plantDetails.phone}}
        </section>
      </section>
    </section>
    <section>
      <section class="left-container-title">
        Manager
      </section>
      <section class="left-container-content">
        {{plantDetails.manager}}
      </section>
    </section>
  </section>

  <section class="right-container">
    <section class="right-container-title">
      Description
    </section>
    <section class="right-container-content">
      {{plantDetails.description}}
    </section>
  </section>

</div>
